@model Hospital

<h1>Details</h1>

<ul class="list-group">
    <li class="list-group-item">
        COD Hospital: @Model.IdHospital
    </li>
    <li class="list-group-item">
        Nombre: @Model.Nombre
    </li>
    <li class="list-group-item">
        Direccion: @Model.Direccion
    </li>
    <li class="list-group-item">
        Telefono: @Model.Telefono
    </li>
    <li class="list-group-item">
        Num Cama: @Model.numcama
    </li>
</ul>
